<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/admin">
            <img src="/assets/images/icon/logo.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a class="js-arrow" href="/admin">
                        <i class="fas fa-tachometer-alt"></i>Bảng điều khiển</a>
                </li>


                <li class="has-sub">
                    <a class="js-arrow" href="/admin/category/qlProduct">
                        <i class="fas fa-table"></i>Quản lý sản phẩm</a>
                </li>

                
                <li class="has-sub">
                    <a class="js-arrow" href="/admin/category/qlPersonnel">
                        <i class="fas fa-table"></i>Quản lý nhân viên</a>
                </li>


                <li class="has-sub">
                    <a class="js-arrow" href="/admin/category/addProduct">
                        <i class="far fa-check-square"></i>Thêm sản phẩm</a>
                </li>

                <li class="has-sub">
                    <a class="js-arrow" href="/admin/category/addPersonnel">
                        <i class="far fa-check-square"></i>Thêm nhân viên</a>
                </li>

            </ul>
        </nav>
    </div>
</aside>