<%- include('../layouts/header.ejs') %>

<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Thêm Sản Phẩm</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="/admin/category/addProduct" method="post" class="form-horizontal">
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="TenSanPham" class="form-control-label">Tên sản phẩm</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="TenSanPham" name="TenSanPham" placeholder="Tên sản phẩm" class="form-control">
                               
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="Gia" class="form-control-label">Giá</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="number" id="Gia" name="Gia" placeholder="Giá" class="form-control">
                                  
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="GiaKhuyenMai" class="form-control-label">Giá khuyến mãi</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="number" id="GiaKhuyenMai" name="GiaKhuyenMai" placeholder="Giá khuyến mãi" class="form-control">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="SoLuong" class="form-control-label">Số lượng</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="number" id="SoLuong" name="SoLuong" placeholder="Số lượng" class="form-control" >
                               
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="MaDanhMuc" class=" form-control-label">Danh mục</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="MaDanhMuc" id="MaDanhMuc" class="form-control">
                                            <option value="1">Áo thun</option>
                                            <option value="2">Quần jean</option>
                                            <option value="3">Phụ kiện</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="HinhAnh" class="form-control-label">Hình ảnh</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="file" id="HinhAnh" name="HinhAnh" class="form-control-file">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="MoTa" class="form-control-label">Mô tả</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <textarea name="MoTa" id="MoTa" rows="9" placeholder="Mô tả" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="TrangThai" class=" form-control-label">Trạng thái</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="TrangThai" id="TrangThai" class="form-control">
                                            <option value="Hoạt động">Hoạt động</option>
                                            <option value="Không hoạt động">Không hoạt động</option>
                                           
                                        </select>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm" >
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../layouts/footer.ejs') %>